.about-body{
    background-image: url('../images/about-background-mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-body header a{
    &:hover{
        padding-bottom: 8px;
        border-bottom: 4px solid #9a4039;
    }
}
.about-main{
    position: relative;
    height: calc(100vh - 300px);
}
article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.7);
    padding: 15px;
    border-radius: 10px;
    max-width: 50vw;
}