.contact-body{
    background-image: url('../images/contact-background-mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-body header a{
    &:hover{
        padding-bottom: 8px;
        border-bottom: 4px solid #e0e490;
    }
}



@media(min-width:1000px){
    .contact-body{
        background-image: url('../images/contact-background-full.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

