.drinks-body{
    background-image: url('../images/drinks-background-mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.drinks-body header a{
    &:hover{
        padding-bottom: 8px;
        border-bottom: 4px solid #ff7666;
    }
}


.menu{
    margin: 50px auto;
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.7);
    border-radius: 10px;
    width: 350px;
    text-align: center;
    list-style-type: none;
    padding: 15px 0;
    li{
        margin: 25px 10px;
    }
}


