.drinks-body{
    background-image: url('../images/drinks-background-mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.drinks-body header a{
    &:hover{
        padding-bottom: 8px;
        border-bottom: 4px solid #ff7666;
    }
}


.menu{
    margin: 50px auto;
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.7);
    border-radius: 10px;
    width: 350px;
    text-align: center;
    list-style-type: none;
    padding: 15px 0;
    li{
        margin: 25px 10px;
    }
}
@media(min-width:700px){
    .drinks-body{
        background-image: url('../images/drinks-background-tablet-2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .drinks-main{
        display: flex;
        .menu{
            margin-top: 25vh;
            width: 45%;
            max-width: 400px;
        }
        
    }
}
@media(min-width:1000px){

    .drinks-body{
        background-image: url('../images/drinks-background-full.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .drinks-main{
            .menu{
                margin-top: 15vh;
            }
        }
        header{
            margin-top: 15vh;
        }
    }
   
}