.food-body{
    background-image: url('../images/food-background-mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.food-body header a{
    &:hover{
        padding-bottom: 8px;
        border-bottom: 4px solid #92b13a;
    }
}








