.home-body{
    background-image: url('../images/home-background-mobile.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-body header a{
    &:hover{
        padding-bottom: 8px;
        border-bottom: 4px solid #5b8054;
    }
}
.home-body main{
background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.6);
margin-top: 10vh;
width: 100%;
}

@media(min-width:1000px){

    .home-body{
        background-image: url('../images/home-background-full.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        header{
            margin-top: 15vh;
        }
    }
   
}