nav{
    ul{
        display: flex;
        justify-content: space-around;
        padding: 0;

        li{
            list-style: none;
            a{
                color: black;

            }
        }
    }
}
