a{
    text-decoration: none;
    
}
header{
    h1{
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        font-size: 3em;
    }
    nav a{
        font-family: 'Muli', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
    }
}
main{
    
    h1, h2, p, a, ul{
        font-family: 'Montserrat', 'sans-serif';
    
    }
}